PORT=3000
LOG_LEVEL=debug
PG_DSN=postgres://exchange_rate_test_task:exchange_rate_test_task@postgres:5432/exchange_rate_test_task?sslmode=disable
CRYPTO_COMPARE_API_URL=https://min-api.cryptocompare.com
UPLOAD_RATES_JOB_SPEC="* * * * *"
REDIS_URL="redis-sentinel:26379"
REDIS_MASTER_NAME="redis-master"
CRYPTO_SYMBOLS=BTC,ETH
FIAT_SYMBOLS=USD,EUR